.index-banner {
    height: 45%;
    padding-bottom: 0.4rem;
}
.img-wrap {
    overflow: hidden;
}
.banner-img {
    width: 100%;
    height: 100%;
}
.total-wxmanage-button {
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: 0.85rem;
    margin-bottom: 0.4rem;
    position: relative;
    cursor: pointer;
}
.total-wxmanage-button:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 0.15rem;
    height: 1.5rem;
    background-color: #0894ec;
}
.wxmanage-classify{
    width:100%;
    height: 100%;
    margin-bottom: 0.4rem;
    margin-left: 0.4rem;
}
.wxmanage-img{
    width:180px;
    height: 150px;
}
.word{
    margin-top: 0;
}
/*.wxmanage-classify {*/
    /*height: 3.3rem;*/
    /*padding: 0.2rem;*/
    /*cursor: pointer;*/
/*}*/
/*.wxmanage-classify > .word {*/
    /*width: 65%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*float: left;*/
/*}*/
/*.wxmanage-classify > .word > p {*/
    /*margin: 0;*/
/*}*/
/*.wxmanage-classify > .word > .wxmanage-title {*/
    /*margin: 0;*/
    /*font-size: 0.8rem;*/
/*}*/
/*.wxmanage-classify > .word > .wxmanage-desc {*/
    /*margin: 0;*/
    /*font-size: 0.4rem;*/
/*}*/
/*.wxmanage-classify > .wxmanage-classify-img-warp {*/
    /*width: 30%;*/
    /*height: 100%;*/
    /*margin-left: 0.2rem;*/
    /*display: inline-block;*/
/*}*/
/*.wxmanage-classify > .wxmanage-classify-img-warp > .wxmanage-img {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/