.row-group {
  border: 1px solid #999;
  padding-bottom: .5rem;
  border-bottom:none;
}

.row-group:last-child {
  border-bottom: 1px solid #999;
}

#group-name {
  white-space: nowrap;
  overflow-x: scroll;
}

.group-wrap a {

}